<html ng-app="AngularApp">
<head>
    <title>Angular demo</title>

</head>


<body>
    <div id="progressbar"></div>
    <h1>Github Viewer</h1>
    <div ng-view ></div>
</body>


</html>


<script src="~/Scripts/angular.min.js"></script>
<script src="https://code.angularjs.org/1.2.4/angular-route.js"></script>
<script src="~/Scripts/app/ngprogress-lite.js"></script>
<link href="~/Scripts/app/ngprogress-lite.css" rel="stylesheet" />
<script src="~/Scripts/app/app.js"></script>
<script src="~/Scripts/app/MainController.js"></script>
@*<script src="~/Scripts/app/productList-controller.js"></script>*@
<script src="~/Scripts/app/service.js"></script>
<a href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml</a>